@import url("https://fonts.googleapis.com/css2?family=Croissant+One&family=Overpass:wght@400;700&display=swap");

.App {
  height: 100vh;
  background-color: hsl(216, 12%, 8%);
  color: #fff;
  font-family: "Overpass", sans-serif;
}
h2 {
  color: #fff;
}
.card {
  background-color: hsl(213, 19%, 18%) !important;
  width: 375px;
}
.number-btn {
  background-color: rgba(149, 158, 172, 0.1);
  border: none;
  width: 50px;
  height: 50px;
  transition: all 0.2s;
}
.number-btn:hover {
  background-color: rgba(149, 158, 172, 0.5);
}

.number-btn.active {
  background-color: hsl(25, 97%, 53%);
}
p {
  font-size: 15px;
  color: hsl(217, 12%, 63%);
  font-weight: 400;
}
.sub-btn {
  font-size: 12px;
  background-color: rgba(149, 158, 172, 0.1);
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  transition: all 0.2s;
  /* vertical-align: middle; */
  padding: 10px;
}
.sub-btn:hover {
  font-size: 12px;
  background-color: #fff;
  color: hsl(25, 97%, 53%);
  font-weight: 700;
  text-transform: uppercase;
}

.star-container {
  width: 40px;
  height: 40px;
  background-color: rgba(149, 158, 172, 0.1);
}
